# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
venv/
ENV/
env.bak/
venv.bak/

# Editor directories and files
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Python egg
*.egg
*.egg-info/
dist/
build/

# Logs
*.log

# Environment
.env
